*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}



/* path[Attributes Style] {
    d: path("M 21.96 15.796 h 9.232 A 15.592 15.592 0 0 0 0.059 14.55 c -0.011 0.116 -0.019 0.234 -0.027 0.351 v 0.105 c -0.013 0.21 -0.022 0.423 -0.022 0.637 v 0.154 h 9.957 c 0 -2.987 -2.228 -5.412 -4.978 -5.412 a 4.755 4.755 0 0 0 -3.41 1.473 c 1.051 -1.346 2.63 -2.203 4.395 -2.203 c 3.165 0 5.725 2.75 5.725 6.142 h 7.562 v -0.154 c 0 -5.7 -4.31 -10.321 -9.629 -10.321 a 9.085 9.085 0 0 0 -4.62 1.266 a 10.976 10.976 0 0 1 16.949 9.21 v -0.003 Z");
} */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Black.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Light.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Thin.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Thin.woff') format('woff');
} */

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}


script {
    display: none;
}

body {
    margin: 0;
    line-height: inherit;
}


div {
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    /* border-width: 2px; */
    /* border-style: outset; */
    border-color: buttonborder;
    border-image: initial;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

button, select {
    text-transform: none;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.md\:font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.button {
    border: 0 solid #e5e7eb;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}

.h-\[56px\] {
    height: 56px;
}

.w-\[16px\] {
    width: 16px;
}

.w-\[31px\] {
    width: 31px;
}

.w-\[32px\] {
    width: 32px;
}

.w-\[96px\] {
    width: 96px;
}

.w-\[20px\] {
    width: 20px;
}

.lg\:hidden {
    display: none;
}

.h-\[16px\] {
    height: 16px;
}

.h-\[20px\] {
    height: 20px;
}

.h-\[32px\] {
    height: 32px;
}

.gap-x-\[16px\] {
    column-gap: 16px;
}

.right-\[-16px\] {
    right: -16px;
}

.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
}

.rounded-\[16px\] {
    border-radius: 16px;
}

.md\:pt-\[12px\] {
    padding-top: 12px;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.lg\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
}

.lg\:h-\[58px\] {
    height: 58px;
}

.md\:flex {
    display: flex;
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px;
}

.h-\[32px\] {
    height: 32px;
}

.md\:items-center {
    align-items: center;
}

.xl\:gap-\[20px\] {
    gap: 20px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.h-full {
    height: 100%;
}

#__next {
    min-height: 100%;
}

.w-full {
    width: 100%;
}

.z-\[5\] {
    z-index: 5;
}

.z-20 {
    z-index: 20;
}

.left-\[-16px\] {
    left: -16px;
}

.sticky {
    position: sticky;
}

.surface_primary {
    background-color: #fff;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex {
    display: flex;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}

.border-solid {
    border-style: solid;
}

.border {
    border-width: 1px;
}

.relative {
    position: relative;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}

.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

.max-w-main {
    max-width: 720px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-col {
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.md\:font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.md\:\!ml-\[0\] {
    margin-left: 0!important;
}

.\!w-auto {
    width: auto!important;
}

.shrink-0 {
    flex-shrink: 0;
}

.rounded-full {
    border-radius: 9999px;
}

.font_label_regular_lg {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}

.border {
    border-width: 1px;
}

.border_primary {
    border-color: #e6e6e7;
}

.absolute {
    position: absolute;
}

.r_button {
    background-color: #fff;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.mobile\:px-\[26px\] {
    padding-left: 26px;
    padding-right: 26px;
}

.mobile\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rounded-\[10px\] {
    border-radius: 10px;
}

.surface_accent_light {
    background-color: #f2f0fc;
}

.max-w-main {
    max-width: 720px;
}

.min-h-screen {
    min-height: 100vh;
}

.mobile\:max-w-\[100\%\] {
    max-width: 100%;
}

.keep-all {
    word-break: keep-all;
}

.font_label_regular_xl {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.align-middle {
    vertical-align: middle;
}

.w-\[14px\] {
    width: 14px;
}

.h-\[14px\] {
    height: 14px;
}

.inline {
    display: inline;
}

.mobile\:px-\[26px\] {
    padding-left: 26px;
    padding-right: 26px;
}

.mobile\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rounded-\[10px\] {
    border-radius: 10px;
}

.right-\[12px\] {
    right: 12px;
}

.top-\[12px\] {
    top: 12px;
}

.md\:p-0 {
    padding: 0;
}

.h-\[44px\] {
    height: 44px;
}

.font_title_bold_md {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.rounded-\[16px\] {
    border-radius: 16px;
}

.max-w-\[164px\] {
    max-width: 164px;
}

.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.whitespace-nowrap {
    white-space: nowrap;
}

.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}

.font_label_medium_lg {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.shrink-0 {
    flex-shrink: 0;
}

.w-\[10px\] {
    width: 10px;
}

.h-\[10px\] {
    height: 10px;
}

.ml-\[4px\] {
    margin-left: 4px;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.md\:gap-x-\[20px\] {
    column-gap: 20px;
}

.md\:gap-y-\[30px\] {
    row-gap: 30px;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.grid {
    display: grid;
}

.mobile\:w-\[104px\] {
    width: 104px;
}

.mobile\:h-\[104px\] {
    height: 104px;
}

.pt-\[100\%\] {
    padding-top: 100%;
}

.rounded-\[6px\] {
    border-radius: 6px;
}

.md\:h-\[64px\] {
    height: 64px;
}

.flex-col {
    flex-direction: column;
}

.mobile\:max-w-\[236px\] {
    max-width: 236px;
}

.text-ellipsis-1 {
    -webkit-line-clamp: 1;
}

.gap-\[10px\] {
    gap: 10px;
}

.font_label_bold_xl {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.text-ellipsis-1, .text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}

.mobile\:max-w-\[236px\] {
    max-width: 236px;
}

.mobile\:font_label_regular_lg {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.content_quaternary {
    color: #8a8a8b;
    fill: #8a8a8b;
}

.mobile\:gap-\[4px\] {
    gap: 4px;
}

.mobile\:w-\[18px\] {
    width: 18px;
}

.mobile\:h-\[18px\] {
    height: 18px;
}

.overflow-hidden {
    overflow: hidden;
}

.mobile\:max-w-\[236px\] {
    max-width: 236px;
}

