*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

script {
    display: none;
}

body {
    margin: 0;
    line-height: inherit;
}


div {
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button {
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    /* padding-inline: 6px; */
    border-color: buttonborder;
    border-image: initial;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

button, select {
    text-transform: none;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.md\:font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.button {
    border: 0 solid #e5e7eb;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}

.w-\[10px\] {
    width: 10px;
}

.w-\[14px\] {
    width: 14px;
}

.w-\[16px\] {
    width: 16px;
}

.w-\[20px\] {
    width: 20px;
}

.w-\[31px\] {
    width: 31px;
}

.w-\[32px\] {
    width: 32px;
}

.w-\[96px\] {
    width: 96px;
}

.w-full {
    width: 100%;
}

.h-\[10px\] {
    height: 10px;
}

.h-\[14px\] {
    height: 14px;
}

.h-\[16px\] {
    height: 16px;
}

.h-\[20px\] {
    height: 20px;
}

.h-\[32px\] {
    height: 32px;
}

.h-\[44px\] {
    height: 44px;
}

.h-\[56px\] {
    height: 56px;
}

.h-full {
    height: 100%;
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px;
}

.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
}

.lg\:hidden {
    display: none;
}

.gap-x-\[16px\] {
    column-gap: 16px;
}

.right-\[-16px\] {
    right: -16px;
}

.rounded-\[16px\] {
    border-radius: 16px;
}

.md\:pt-\[12px\] {
    padding-top: 12px;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.lg\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
}

.lg\:h-\[58px\] {
    height: 58px;
}

.md\:flex {
    display: flex;
}

.md\:items-center {
    align-items: center;
}

.xl\:gap-\[20px\] {
    gap: 20px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

#__next {
    min-height: 100%;
}

.z-\[5\] {
    z-index: 5;
}

.z-20 {
    z-index: 20;
}

.rounded-\[16px\] {
    border-radius: 16px;
}

.max-w-\[164px\] {
    max-width: 164px;
}

.ml-\[4px\] {
    margin-left: 4px;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.md\:gap-x-\[20px\] {
    column-gap: 20px;
}

.md\:gap-y-\[30px\] {
    row-gap: 30px;
}

.mobile\:w-\[104px\] {
    width: 104px;
}

.mobile\:h-\[104px\] {
    height: 104px;
}

.pt-\[100\%\] {
    padding-top: 100%;
}

.rounded-\[6px\] {
    border-radius: 6px;
}

.md\:h-\[64px\] {
    height: 64px;
}

.gap-\[10px\] {
    gap: 10px;
}

.mobile\:max-w-\[236px\] {
    max-width: 236px;
}

.mobile\:gap-\[4px\] {
    gap: 4px;
}

.mobile\:w-\[18px\] {
    width: 18px;
}

.mobile\:h-\[18px\] {
    height: 18px;
}

.mobile\:max-w-\[236px\] {
    max-width: 236px;
}

.mobile\:px-\[26px\] {
    padding-left: 26px;
    padding-right: 26px;
}

.mobile\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rounded-\[10px\] {
    border-radius: 10px;
}

.right-\[12px\] {
    right: 12px;
}

.top-\[12px\] {
    top: 12px;
}

.left-\[-16px\] {
    left: -16px;
}

.md\:p-0 {
    padding: 0;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.md\:\!ml-\[0\] {
    margin-left: 0!important;
}

.mobile\:px-\[26px\] {
    padding-left: 26px;
    padding-right: 26px;
}

.mobile\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rounded-\[10px\] {
    border-radius: 10px;
}

.sticky {
    position: sticky;
}

.surface_primary {
    background-color: #fff;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex {
    display: flex;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

[type=button], [type=reset], [type=submit], button {
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}

.border-solid {
    border-style: solid;
}

.border {
    border-width: 1px;
}

.relative {
    position: relative;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

.max-w-main {
    max-width: 720px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-col {
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.md\:font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.\!w-auto {
    width: auto!important;
}

.shrink-0 {
    flex-shrink: 0;
}

.rounded-full {
    border-radius: 9999px;
}

.font_label_regular_lg {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}

.border {
    border-width: 1px;
}

.border_primary {
    border-color: #e6e6e7;
}

.absolute {
    position: absolute;
}

.r_button {
    background-color: #fff;
}

.surface_accent_light {
    background-color: #f2f0fc;
}

.max-w-main {
    max-width: 720px;
}

.min-h-screen {
    min-height: 100vh;
}

.mobile\:max-w-\[100\%\] {
    max-width: 100%;
}

.keep-all {
    word-break: keep-all;
}

.font_label_regular_xl {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.align-middle {
    vertical-align: middle;
}

.inline {
    display: inline;
}

.font_title_bold_md {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}


.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.whitespace-nowrap {
    white-space: nowrap;
}

.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}

.font_label_medium_lg {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.shrink-0 {
    flex-shrink: 0;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.grid {
    display: grid;
}

.flex-col {
    flex-direction: column;
}

.mobile\:max-w-\[236px\] {
    max-width: 236px;
}

.text-ellipsis-1 {
    -webkit-line-clamp: 1;
}

.font_label_bold_xl {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.text-ellipsis-1, .text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}

.mobile\:font_label_regular_lg {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.content_quaternary {
    color: #8a8a8b;
    fill: #8a8a8b;
}

.overflow-hidden {
    overflow: hidden;
}



