@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 전체 */
html {
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.hidden {
    display: none;
}


*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

div {
    display: block;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.z-20 {
    z-index: 20;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}



body {
    display: block;
}

body {
    margin: 0;
    line-height: inherit;
}

#__next {
    min-height: 100%;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}








/* nav */
.sticky {
    position: sticky;
}
.surface_primary {
    background-color: #fff;
}

.justify-end {
    justify-content: flex-end;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.gap-x-\[16px\] {
    column-gap: 16px;
}
.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}
.justify-between {
    justify-content: space-between;
}
.h-\[56px\] {
    height: 56px;
}
.shrink-0 {
    flex-shrink: 0;
}


.lg\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
}

.lg\:h-\[58px\] {
    height: 58px;
}




/* nav 이미지(오) */
.w-\[20px\] {
    width: 20px;
}
.h-\[20px\] {
    height: 20px;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
}
.border-solid {
    border-style: solid;
}
.border {
    border-width: 1px;
}
.rounded-\[16px\] {
    border-radius: 16px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.h-\[32px\] {
    height: 32px;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}
.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}
.content_secondary {
    color: #333334;
    fill: #333334;
}
.surface_primary {
    background-color: #fff;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.lg\:block {
    display: block;
}
.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.gap-x-\[16px\] {
    column-gap: 16px;
}
.rounded-\[16px\] {
    border-radius: 16px;
}
.content_primary_inverse {
    color: #fff;
    fill: #fff;
}
.surface_primary_inverse {
    background-color: #1d1d1e;
}


/* nav 이미지(왼) */
.w-\[31px\] {
    width: 31px;
}
.h-\[16px\] {
    height: 16px;
}
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.lg\:hidden {
    display: none;
}
svg{
    vertical-align: middle;
}
.lg\:block {
    display: block;
}
.w-\[96px\] {
    width: 96px;
}
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}




/* title */
.max-w-main {
    max-width: 720px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.md\:pt-\[12px\] {
    padding-top: 12px;
}
.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}
.xl\:gap-\[20px\] {
    gap: 20px;
}
.flex-col {
    flex-direction: column;
}


.pt-\[8px\] {
    padding-top: 8px;
}
.items-start {
    align-items: flex-start;
}
gap-\[16px\] {
    gap: 16px;
}


.md\:font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}


.cursor-pointer {
    cursor: pointer;
}  
.content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}
.md\:items-center {
    align-items: center;
}


/* title nav */
.relative {
    position: relative;
}
.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.md\:\!ml-\[0\] {
    margin-left: 0!important;
}
.\!w-auto {
    width: auto!important;
}

.shrink-0 {
    flex-shrink: 0;
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px;
}
.rounded-full {
    border-radius: 9999px;
}
.h-\[32px\] {
    height: 32px;
}
.font_label_regular_lg {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.content_primary_inverse {
    color: #fff;
    fill: #fff;
}
.surface_primary_inverse {
    background-color: #1d1d1e;
}




.w-\[32px\] {
    width: 32px;
}
.z-\[5\] {
    z-index: 5;
}
.left-\[-16px\] {
    left: -16px;
}
.absolute {
    position: absolute;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}


.md\:flex {
    display: flex;
}
.right-\[-16px\] {
    right: -16px;
}


/* main */
.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}
.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}
.mobile\:px-\[26px\] {
    padding-left: 26px;
    padding-right: 26px;
}
.mobile\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}
.rounded-\[10px\] {
    border-radius: 10px;
}
.surface_accent_light {
    background-color: #f2f0fc;
}
.mobile\:max-w-\[100\%\] {
    max-width: 100%;
}

/* .max-w-\[231px\] {
    max-width: 231px;
} */

.keep-all {
    word-break: keep-all;
}
.font_label_regular_xl {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.align-middle {
    vertical-align: middle;
}
.w-\[14px\] {
    width: 14px;
}
.h-\[14px\] {
    height: 14px;
}
.inline {
    display: inline;
}
.right-\[12px\] {
    right: 12px;
}
.top-\[12px\] {
    top: 12px;
}
.w-\[16px\] {
    width: 16px;
}
.h-\[16px\] {
    height: 16px;
}
.content_quaternary {
    color: #8a8a8b;
    fill: #8a8a8b;
}

.md\:p-0 {
    padding: 0;
}
.h-\[44px\] {
    height: 44px;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.max-w-\[164px\] {
    max-width: 164px;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}
.overflow-hidden {
    overflow: hidden;
}
.font_label_medium_lg {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.content_secondary {
    color: #333334;
    fill: #333334;
}
.w-\[10px\] {
    width: 10px;
}
.h-\[10px\] {
    height: 10px;
}
.ml-\[4px\] {
    margin-left: 4px;
}

/* .flex-col {
    flex-direction: column;
} */

.col-span-full {
    grid-column: 1/-1;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.md\:py-\[24px\] {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* .py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}
.border-t {
    border-top-width: 1px;
} */
.border_secondary {
    border-color: #f3f3f4;
}

.text-left {
    text-align: left;
}

/* .gap-x-\[16px\] {
    column-gap: 16px;
} */

.xl\:h-auto {
    height: auto;
}
.break-all {
    word-break: break-all;
}
/* .h-\[73px\] {
    height: 73px;
} */

.xl\:font_title_bold_lg {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}
.overflow-hidden {
    overflow: hidden;
}

.text-ellipsis-1, .text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}
.text-ellipsis-1 {
    -webkit-line-clamp: 1;
}

.xl\:mt-\[6px\] {
    margin-top: 6px;
}
.xl\:text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* .overflow-hidden {
    overflow: hidden;
} */
.mb-\[18px\] {
    margin-bottom: 18px;
}
/* .mt-\[4px\] {
    margin-top: 4px;
}
.text-ellipsis-1, .text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}
.text-ellipsis-1 {
    -webkit-line-clamp: 1;
} */
/* content_quaternary {
    color: #8a8a8b;
    fill: #8a8a8b;
} */
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.md\:w-\[90px\] {
    width: 90px;
}
.md\:h-\[90px\] {
    height: 90px;
}
.rounded-\[8px\] {
    border-radius: 8px;
}
/* .w-\[72px\] {
    width: 72px;
}
.h-\[72px\] {
    height: 72px;
} */

img {
    -o-object-fit: cover;
    object-fit: cover;
}
img, video {
    max-width: 100%;
    height: auto;
}
/* audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
} */

.rounded-\[8px\] {
    border-radius: 8px;
}

/* .border {
    border-width: 1px;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.border_black_opacity {
    border-color: rgba(0,0,0,.1);
} */

/* .items-center {
    align-items: center;
}
.flex {
    display: flex;
} */
.mt-\[12px\] {
    margin-top: 12px;
}

.gap-x-\[2px\] {
    column-gap: 2px;
}
.font_label_regular_md {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.lg\:max-w-full {
    max-width: 100%;
}
.line-clamp-1, .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.line-clamp-1 {
    -webkit-line-clamp: 1;
}
.w-\[8px\] {
    width: 8px;
}
.h-\[8px\] {
    height: 8px;
}

/* .content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
} */

.mt-\[3px\] {
    margin-top: 3px;
}
.gap-x-\[4px\] {
    column-gap: 4px;
}
.font_label_regular_md {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.w-\[18px\] {
    width: 18px;
}
.h-\[18px\] {
    height: 18px;
}
.mt-\[6px\] {
    margin-top: 6px;
}