@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 전체 */
html {
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.hidden {
    display: none;
}


*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

div {
    display: block;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.z-20 {
    z-index: 20;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}



body {
    display: block;
}

body {
    margin: 0;
    line-height: inherit;
}

#__next {
    min-height: 100%;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}








/* nav */
.sticky {
    position: sticky;
}
.surface_primary {
    background-color: #fff;
}

.justify-end {
    justify-content: flex-end;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.gap-x-\[16px\] {
    column-gap: 16px;
}
.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}
.justify-between {
    justify-content: space-between;
}
.h-\[56px\] {
    height: 56px;
}
.shrink-0 {
    flex-shrink: 0;
}


.lg\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
}

.lg\:h-\[58px\] {
    height: 58px;
}




/* nav 이미지(오) */
.w-\[20px\] {
    width: 20px;
}
.h-\[20px\] {
    height: 20px;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
}
.border-solid {
    border-style: solid;
}
.border {
    border-width: 1px;
}
.rounded-\[16px\] {
    border-radius: 16px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.h-\[32px\] {
    height: 32px;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}
.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}
.content_secondary {
    color: #333334;
    fill: #333334;
}
.surface_primary {
    background-color: #fff;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.lg\:block {
    display: block;
}
.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.gap-x-\[16px\] {
    column-gap: 16px;
}
.rounded-\[16px\] {
    border-radius: 16px;
}
.content_primary_inverse {
    color: #fff;
    fill: #fff;
}
.surface_primary_inverse {
    background-color: #1d1d1e;
}


/* nav 이미지(왼) */
.w-\[31px\] {
    width: 31px;
}
.h-\[16px\] {
    height: 16px;
}
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.lg\:hidden {
    display: none;
}
svg{
    vertical-align: middle;
}
.lg\:block {
    display: block;
}
.w-\[96px\] {
    width: 96px;
}
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}




/* title */
.max-w-main {
    max-width: 720px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.md\:pt-\[12px\] {
    padding-top: 12px;
}
.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}
.xl\:gap-\[20px\] {
    gap: 20px;
}
.flex-col {
    flex-direction: column;
}


.pt-\[8px\] {
    padding-top: 8px;
}
.items-start {
    align-items: flex-start;
}
gap-\[16px\] {
    gap: 16px;
}


.md\:font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}


.cursor-pointer {
    cursor: pointer;
}  
.content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}
.md\:items-center {
    align-items: center;
}


/* title nav */
.relative {
    position: relative;
}
.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.md\:\!ml-\[0\] {
    margin-left: 0!important;
}
.\!w-auto {
    width: auto!important;
}

.shrink-0 {
    flex-shrink: 0;
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px;
}
.rounded-full {
    border-radius: 9999px;
}
.h-\[32px\] {
    height: 32px;
}
.font_label_bold_lg {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.content_primary_inverse {
    color: #fff;
    fill: #fff;
}
.surface_primary_inverse {
    background-color: #1d1d1e;
}

.w-\[32px\] {
    width: 32px;
}
.z-\[5\] {
    z-index: 5;
}
.left-\[-16px\] {
    left: -16px;
}
.absolute {
    position: absolute;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}


.md\:flex {
    display: flex;
}
.right-\[-16px\] {
    right: -16px;
}

