*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

:root {
    --swiper-theme-color: #007aff;
}

:root {
    --sendbird-light-primary-500: #491389;
    --sendbird-light-primary-400: #6211c8;
    --sendbird-light-primary-300: #742ddd;
    --sendbird-light-primary-200: #c2a9fa;
    --sendbird-light-primary-100: #dbd1ff;
    --sendbird-light-secondary-500: #066858;
    --sendbird-light-secondary-400: #027d69;
    --sendbird-light-secondary-300: #259c72;
    --sendbird-light-secondary-200: #69c085;
    --sendbird-light-secondary-100: #a8e2ab;
    --sendbird-light-information-100: #adc9ff;
    --sendbird-light-error-500: #9d091e;
    --sendbird-light-error-400: #bf0711;
    --sendbird-light-error-300: #de360b;
    --sendbird-light-error-200: #f66161;
    --sendbird-light-error-100: #fdaaaa;
    --sendbird-light-background-700: #000;
    --sendbird-light-background-600: #161616;
    --sendbird-light-background-500: #2c2c2c;
    --sendbird-light-background-400: #393939;
    --sendbird-light-background-300: #bdbdbd;
    --sendbird-light-background-200: #e0e0e0;
    --sendbird-light-background-100: #eee;
    --sendbird-light-background-50: #fff;
    --sendbird-light-overlay-01: rgba(0,0,0,.55);
    --sendbird-light-overlay-02: rgba(0,0,0,.32);
    --sendbird-light-onlight-01: rgba(0,0,0,.88);
    --sendbird-light-onlight-02: rgba(0,0,0,.5);
    --sendbird-light-onlight-03: rgba(0,0,0,.38);
    --sendbird-light-onlight-04: rgba(0,0,0,.12);
    --sendbird-light-ondark-01: hsla(0,0%,100%,.88);
    --sendbird-light-ondark-02: hsla(0,0%,100%,.5);
    --sendbird-light-ondark-03: hsla(0,0%,100%,.38);
    --sendbird-light-ondark-04: hsla(0,0%,100%,.12);
    --sendbird-light-shadow-01: 0 1px 5px 0 rgba(33,34,66,.04),0 0 3px 0 rgba(0,0,0,.08),0 2px 1px 0 rgba(0,0,0,.12);
    --sendbird-light-shadow-02: 0 3px 5px -3px rgba(33,34,66,.04),0 3px 14px 2px rgba(0,0,0,.08),0 8px 10px 1px rgba(0,0,0,.12);
    --sendbird-light-shadow-03: 0 6px 10px -5px rgba(0,0,0,.04),0 6px 30px 5px rgba(0,0,0,.08),0 16px 24px 2px rgba(0,0,0,.12);
    --sendbird-light-shadow-04: 0 9px 15px -7px rgba(0,0,0,.04),0 9px 46px 8px rgba(0,0,0,.08),0 24px 38px 3px rgba(0,0,0,.12);
    --sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33,34,66,.12),0 0 1px 0 rgba(33,34,66,.16),0 2px 1px 0 rgba(33,34,66,.08),0 1px 5px 0 rgba(0,0,0,.12);
    --sendbird-dark-primary-500: #491389;
    --sendbird-dark-primary-400: #6211c8;
    --sendbird-dark-primary-300: #742ddd;
    --sendbird-dark-primary-200: #c2a9fa;
    --sendbird-dark-primary-100: #dbd1ff;
    --sendbird-dark-secondary-500: #066858;
    --sendbird-dark-secondary-400: #027d69;
    --sendbird-dark-secondary-300: #259c72;
    --sendbird-dark-secondary-200: #69c085;
    --sendbird-dark-secondary-100: #a8e2ab;
    --sendbird-dark-information-100: #adc9ff;
/* Show All Properties (40 more); */
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

/* path[Attributes Style] {
    d: path("M 21.96 15.796 h 9.232 A 15.592 15.592 0 0 0 0.059 14.55 c -0.011 0.116 -0.019 0.234 -0.027 0.351 v 0.105 c -0.013 0.21 -0.022 0.423 -0.022 0.637 v 0.154 h 9.957 c 0 -2.987 -2.228 -5.412 -4.978 -5.412 a 4.755 4.755 0 0 0 -3.41 1.473 c 1.051 -1.346 2.63 -2.203 4.395 -2.203 c 3.165 0 5.725 2.75 5.725 6.142 h 7.562 v -0.154 c 0 -5.7 -4.31 -10.321 -9.629 -10.321 a 9.085 9.085 0 0 0 -4.62 1.266 a 10.976 10.976 0 0 1 16.949 9.21 v -0.003 Z");
} */

script {
    display: none;
}

body {
    margin: 0;
    line-height: inherit;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

html {
    tab-size: 4;
    font-family: Pretendard-Regular,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

div {
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

button, select {
    text-transform: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.h-full {
    height: 100%;
}

#__next {
    min-height: 100%;
}

.w-full {
    width: 100%;
}

.z-20 {
    z-index: 20;
}

.sticky {
    position: sticky;
}

.surface_primary {
    background-color: #fff;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex {
    display: flex;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}

.border-solid {
    border-style: solid;
}

.border {
    border-width: 1px;
}

.relative {
    position: relative;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}

.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

.max-w-main {
    max-width: 720px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-col {
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}